<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" parallel="classes"
          name="C:/Users/anicolle/eclipse-workspace/FrameworkProject/SeleniumGridExample">
        <classes>
            <class name="GoogleTest"/>
            <class name="RSATest"/>
        </classes>
    </test>
</suite>